@import './common/index.styl'
body
	overflow auto
	-webkit-overflow-scrolling: touch
.g-hd
	width 100%
	height 150px
	background #fff
	text-align center
	overflow hidden
	.logo-wrap
		width 100%
		height 110px
		margin-top 20px
		font-size 0
		.img
			height 100%
			width auto
.g-tab-wrap
	position relative
	width 100%
	height 130px
	line-height 130px
	background $color
	color #fff
	text-align center
	overflow hidden
	border-box()
	.voice-wrap
		position absolute
		top 35px
		left 40px
		display inline-block
		width 72px
		height 60px
		background url('../imgs/voice-icon.gif') center center no-repeat
		background-size cover
	.tab-wrap
		display inline-block
		font-size 50px
		.tab
			display inline-block
			width 184px
			height 124px
			text-align center
			&.z-crt
				border-bottom 4px solid #fff
	.sch-wrap
		position absolute
		top 35px
		right 40px
		display inline-block
		width 62px
		height 60px
		background url('../imgs/sch-icon.png') center center no-repeat
		background-size cover
.g-bd
	width 100%
	border-box()
	padding 0 40px
	background #fff
	.m-type,.m-column
		.tab-wrap
			width 100%
			height 160px
			display flex
			align-items center
			border-1px(#ccc)
			.tab
				text-align center
				padding 20px 45px
				border-radius 60px
				color #333
				font-size 40px
				&.z-crt
					background #fb8437
					color #fff
		.list-wrap
			width 100%
			border-box()
			.list
				position relative
				width 100%
				border-box()
				display flex
				padding 60px 0
				border-1px(#ccc)
				.avatar
					display block
					width 230px
					height 230px
				.text-wrap
					flex 1
					margin-left 60px
					overflow hidden
					.title
						margin-top 18px
						font-size 50px
						color #333
					.desc
						width 100%
						border-box()
						margin-top 36px
						font-size 40px
						color #999
						no-wrap()
					.tag-wrap
						margin-top 40px
						.tag
							display inline-block
							margin-left 10px
							height 36px
							line-height 36px
							padding 4px 10px
							font-size 28px
							border 1px solid #fb8437
							color #fb8437
				.list-count
					position absolute
					right 0
					bottom 60px
					color #999
					font-size 30px
					padding-left 50px
					background url('../imgs/list-icon.png') left center no-repeat
					background-size 0.27rem auto
			&.m-music,&.m-literature,&.m-variety,&.m-other
				display none
	.m-column
		display none
	.m-anchor
		display none
		.anchor-list
			width 100%
			border-box()
			overflow hidden
			background #ffffff
			.list
				float left
				width 480px
				margin-top 50px
				margin-right 38px
				&:nth-child(2n)
					margin-right 0
				.cover
					font-size 0
					width 480px
					height 480px
					overflow hidden
					.img
						display block
						width 100%
						height 100%
				.title
					margin-top 40px
					font-size 40px
					color $color
				.desc
					margin-top 25px
					font-size 40px
					color #666
				.follow-wrap
					margin-top 30px
					width 100%
					.count
						float left
						display inline-block
						height 40px
						line-height 40px
						font-size 30px
						color #999
						padding-left 48px
						background url('../imgs/follow-count-icon.png') left center no-repeat
						background-size contain
					.follow
						float right
						border 1px solid #fb8437
						color #fb8437
						background none
						outline none
						padding 2px 10px
						font-size 24px
.g-ft
	width 100%
	height 150px
	background #4499e1
	color #fff
	text-align center
	overflow hidden
	.version
		margin-top 20px
		font-size 36px
		a
			color #fff
	.copy
		margin-top 20px
		font-size 36px
